/* /Shared/Layout/MainLayout.razor.rz.scp.css */
.page[b-5100qo2jc1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5100qo2jc1] {
    background-color: rgb(248, 250, 252);
    flex: 1;
}

.sidebar[b-5100qo2jc1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5100qo2jc1] {
    background-color: #ffffff;
    border-bottom: 1px solid rgb(229, 234, 241);
    justify-content: flex-end;
    height: 4rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5100qo2jc1]  a, .top-row[b-5100qo2jc1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5100qo2jc1]  a:hover, .top-row[b-5100qo2jc1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5100qo2jc1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-5100qo2jc1] {
        justify-content: space-between;
    }

    .top-row[b-5100qo2jc1]  a, .top-row[b-5100qo2jc1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5100qo2jc1] {
        flex-direction: row;
    }

    .sidebar[b-5100qo2jc1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5100qo2jc1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5100qo2jc1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5100qo2jc1], article[b-5100qo2jc1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/Layout/NavMenu.razor.rz.scp.css */
.nav-scrollable[b-v91v73qjc8] {
    background-color: white;
    border-right: 1px solid rgb(229, 234, 241);
}

.navbar-toggler[b-v91v73qjc8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-v91v73qjc8] {
    min-height: 3.5rem;
    background-color: rgba(255,255,255,1);
}

.navbar-brand[b-v91v73qjc8] {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.brand-logo[b-v91v73qjc8] {
    height: 3rem; 
    width: auto; 
}

.nav-icon[b-v91v73qjc8] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    flex-shrink: 0; /* Avoid icon compression*/
}

.nav-item:first-of-type[b-v91v73qjc8] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-v91v73qjc8] {
    padding-bottom: 1rem;
}

.nav-item[b-v91v73qjc8]  a {
    color: rgb(53, 65, 85); /*Font color*/
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-v91v73qjc8]  a.active {
    background-color: rgb(231, 242, 253); /* Light blue bg for active button */
    color: rgb(9, 93, 208);
}

.nav-item[b-v91v73qjc8]  a:hover {
    background-color: rgb(245, 248, 252); 
    color: rgb(9, 93, 208); 
}

@media (min-width: 641px) {
    .navbar-toggler[b-v91v73qjc8] {
        display: none;
    }

    .collapse[b-v91v73qjc8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-v91v73qjc8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
