.login-layout {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    overflow-y: auto;
}