.nav-scrollable[b-ac201xfnqm] {
    background-color: white;
    border-right: 1px solid rgb(229, 234, 241);
}

.navbar-toggler[b-ac201xfnqm] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ac201xfnqm] {
    min-height: 3.5rem;
    background-color: rgba(255,255,255,1);
}

.navbar-brand[b-ac201xfnqm] {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.brand-logo[b-ac201xfnqm] {
    height: 3rem; 
    width: auto; 
}

.nav-icon[b-ac201xfnqm] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    flex-shrink: 0; /* Avoid icon compression*/
}

.nav-item:first-of-type[b-ac201xfnqm] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-ac201xfnqm] {
    padding-bottom: 1rem;
}

.nav-item[b-ac201xfnqm]  a {
    color: rgb(53, 65, 85); /*Font color*/
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-ac201xfnqm]  a.active {
    background-color: rgb(231, 242, 253); /* Light blue bg for active button */
    color: rgb(9, 93, 208);
}

.nav-item[b-ac201xfnqm]  a:hover {
    background-color: rgb(245, 248, 252); 
    color: rgb(9, 93, 208); 
}

@media (min-width: 641px) {
    .navbar-toggler[b-ac201xfnqm] {
        display: none;
    }

    .collapse[b-ac201xfnqm] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-ac201xfnqm] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}